* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero_image {
    background-image: url("./Photos/Hero_image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 100px;
    margin-bottom: 10px;
}

.hero_text {
    padding-top: 150px;
    color: aliceblue;
    font-size: 4em;
    padding-left: 40px;
}

header {
    font-size: 2.7em;
    background-color: #6D835C;
    border: 0 0 0 0;
    padding-left: 50px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

body {
    width: 100%;
    margin: 0 0 0 0;
}
nav {
    background-color: #4E763B;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    width: 100%;
}
img {
    width: 100%;
    height: 100%;
   
}
.blacktext {
    font-size: 40px;
    padding-left: 40px;
}

.Weavingbackground {
    background-image: url(./Photos/Weaving\ 1.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Geyserbackground {
    background-image: url(./Photos/Geyser\ 2.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
} 

.Flaxbackground {
    background-image: url(./Photos/Flax\ 1.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
} 

.whitetext {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
}

.backtotop {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.weavingtext {
    color: #ffffff;
    text-align: center;
    padding: 50px 40px 250px 40px;
    line-height: 2rem;
}


.button {
    border-radius: 4px;
    background-color: #4E763B;
    display: inline-block;
    text-decoration: none;
    padding: 25px 20px;
    color: white;
    margin: 25px;
  
}

.rightimage {
    grid-area: 1 / 2 / 2 / 2;
}


.righttext { 
    grid-area: 1 / 1 / 2 / 2; 
    font-size: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.plain-text {
    background-color: rgb(196, 196, 196);
    padding: 40px;
    text-align: center;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    width: 100%;
    padding-bottom: 100px;
    background-color: #6D835C;
    
}

.card {
    background-color: #6D835C;
}

.card-text {
    text-align: center;
    color: whitesmoke;
    background-color: #4a6b3b;
    padding: 10px 10px 10px 10px;
}

footer {
    background-color: rgb(3, 36, 0);
    color: #daf0f7;
    padding: 30px 0 30px 0;
    text-align: center;
    width: 100%;
}

.greenback {
    background-color: #95C082;
}

